# Created by .ignore support plugin (hsz.mobi)
.env
.idea/blade.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/modules.xml
.idea/valia-api.iml
.idea/vcs.xml
.idea/workspace.xml
vendor/barryvdh/
.idea/
